@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-blue-50: #eff1fc;
  --color-blue-100: #dce1f9;
  --color-blue-200: #bec8f3;
  --color-blue-300: #92a5eb;
  --color-blue-400: #6179de;
  --color-blue-500: #2946db;
  --color-blue-600: #13238b;
  --color-blue-700: #0e1b6d;
  --color-blue-800: #0b1452;
  --color-blue-900: #080f3b;
  --color-blue-950: #050821;
}
